<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    ul {
      list-style: none;
    }
  </style>
</head>
<!-- oss 上传 -->
<!-- npx http-server -->

<body>
  <input id="file" type="file" />
  <input type="button" id="upload" value="上传" />
  <br>
  <script type="text/javascript">
    const fileEle = document.querySelector('#file');
    const uploadBtn = document.querySelector('#upload');

    uploadBtn.addEventListener('click', async () => {
      const file = fileEle.files[0]
      if (!file) alert("请选择文件")
      handler(file)
    })

    const handler = async (file) => {
      const { presignedPutUrl, expiresIn } = await fetch(`http://localhost:6020/oss/presigned-url?name=${file.name}`)
        .then(async (res) => res.ok ? await res.json() : await res.text())
      if (new Date().getTime() > expiresIn * 1000) {
        alert('签名已过期')
        return
      }
      // const payload = new Blob([file], {
      //   type: "application/octet-stream",
      // });
      // // const formData = new FormData();
      // // formData.append('file', file)
      // const response = await fetch(presignedPutUrl, {
      //   method: 'PUT',
      //   headers: {
      //     "Content-Type": file.type,
      //   },
      //   body: payload // formData.get('file'),
      // })
      // 或
      const response = await fetch(presignedPutUrl, {
        method: 'PUT',
        body: file
      })

      if (response.ok) {
        const parsedUrl = new URL(presignedPutUrl)
        if (file.type?.startsWith?.('image')) {
          const imgEl = document.createElement('img')
          imgEl.src = parsedUrl.origin + parsedUrl.pathname
          imgEl.alt = file.name;
          document.body.appendChild(imgEl)
        }
        console.log('上传成功！pathname: ', parsedUrl.pathname)
      } else {
        console.error('上传失败')
      }
    }
  </script>
</body>

</html>